<%- include('layouts/header') %>
<!-- Link to FancyBox CSS file -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">

<div class="container">
  <div class="row">
    <h1 class="page-header"><%= p.title %></h1>

    <div class="col-xs-12 col-md-5">
      <img src="/product_images/<%= p._id %>/<%= p.image %>" alt="" class="product-image">
    </div>

    <div class="col-xs-12 col-md-7">
      <p class="product-description"><%= p.desc %></p>
      <p class="product-price"><%= parseFloat(p.price).toFixed(2) %></p>
      <% if(loggedIn) { %> 
      <p><a href="/user/cart/add-to-cart/<%= p.slug %>" class="add-to-cart-button">Add to cart</a></p>
    <% } else { %>
      <p>You must be logged in to purchase items.</p>
      <% } %>
    </div>

    <div class="col-xs-12">
      <ul class="gallery">
        <% galleryImages.forEach(function(image){ %>
        <% if (image != 'thumbs') { %>
        <li>
          <a data-fancybox="gallery" href="/product_images/<%= p._id %>/gallery/<%= image %>">
            <img src="/product_images/<%= p._id %>/gallery/<%= image %>" alt="">
          </a>
        </li>
        <% } %>
        <% }); %>
      </ul>
    </div>
  </div>
</div>

<%- include('layouts/footer') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<script>
  $(document).ready(function() {
     $("[data-fancybox]").fancybox({

      });
  });
</script>
